.term {
    margin-right: .5rem;
}

.planet-image {
    width:50%;
    margin:1rem;
    border-radius:10px;
    object-fit: cover;
}

.planet-list li{
    background-color: rgb(40, 40, 40);
          padding-bottom: .5rem;
          padding-top: 0;
}

.planet-list li span {
    border-top: 1px solid #444;
}


